{% load staticfiles %}

<h2>Hello, world!</h2>

<ul>
  <li><a href="{% url 'env' %}">Environment</a>
  <li><a href="{% url 'slow_get' '5' %}">Slow GET (5s)</a>
  <li><a href="{% static 'helloapp/version.txt' %}">version.txt</a>
</ul>

Version switching test:
<ul>
  <li><a href="{% url 'foo' %}">foo</a>
  <li><a href="{% static 'helloapp/foo_v1.txt' %}">foo_v1.txt (deleted)</a>
  <li><a href="{% static 'helloapp/foo_both.txt' %}">foo_both.txt</a>
  <li><a href="{% static 'helloapp/foo_v2.txt' %}">foo_v2.txt (new)</a>
</ul>
